{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-3">Something went wrong.</h1>
        </div>
    </div>
    <div class="container text-center text-primary">
        <h3>{{ message }}</h3>
        <br>
        <form action="http://0.0.0.0:5000">
            <div class="col-lg-4 col-lg-offset-4 text-center">
                <button class="btn btn-primary btn-md btn-block">Return to the main page</button>
            </div>
        </form>
    </div>
{% endblock %}