{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-3">Showing tweets related to <span class="text-primary">{{ search }}</span></h1>
            <p>{{ count }} out of a maximum of 5 recent tweets are shown.</p>
        </div>
    </div>
    <div class="container">
        <table class="table table-bordered table-hover text-center">
            <thead class="text-primary text-bold">
                <td><strong>Date</strong></td>
                <td><strong>Tweet content</strong></td>
                <td><strong>Number of English words</strong></td>
            </thead>
            {% for t in tweets %}
                <tr>
                    <td>{{ t.datetime }}</td>
                    <td>{{ t.text }}</td>
                    <td>{{ t.english_word_count }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}